
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(71, 62, 62, 0.1);
  }
  
  button {
    cursor: pointer;
  }
  
  .veiculo-container {
    width: 90%;
    height: 80%;
    padding: 30px;
    border-radius: 10px;
    background: rgba(14, 96, 140, 0.8);
  }
  
  .veiculo-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .veiculo-header h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  #novo {
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(4, 4, 18);
  }

  
  .janela-veiculo-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .janela-veiculo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
  }
  
  .janela-veiculo label,
  .janela-veiculo input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .janela-veiculo input {
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid black;
  }
  
  .janela-veiculo button {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(14, 96, 140, 0.8);
    color: white;
  }
  
  .active {
    display: flex;
  }
  
  .active .janela-veiculo {
    animation: janela .4s;
  }
  
  @keyframes janela {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  